// Text Color
.text-white {
  color: $white !important;
}
// Cursor Event
.cursor-pointer {
  cursor: pointer;
}

//Section space
.section-space-y {
  padding: 50px 0;
}
.section-space-top {
  padding-top: 50px;
}
.section-space-bottom {
  padding-bottom: 50px;
}
