//Fonts Stack
$openSans: 'Open Sans', sans-serif;
$Gilroy: 'Roboto', sans-serif;
$Oswald: 'Oswald', sans-serif;
//System Fonts
$base-font: $Gilroy;
$heading-font: $Oswald;

//Colors
$white: #ffffff;
$black: #59566f;
$light-black: #59566f;
$blue: #123150;
$gray: #e0e5ef;
$dark-gray: #9ca69c;
$light-gray: #f4f4fb;
$green: #00a139;

//System Color
$base-bg: $white;
$base-color: $black;
$link-color: $blue;
