* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}
body {
  font-size: 14px;
  font-family: $base-font;
  background-color: #f5f4fb;
  color: $black;
  font-weight: 500;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #ddd;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #33475b;
}
